*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading{
    background-color: rgb(25, 25, 50);
    color: white;
    text-align: center;
}

.choises{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 30px;
}

.choise{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;

}

.choise:hover{
    cursor: pointer;
    opacity: 0.5;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
}

#user-score,#comp-score{
    font-size: 2rem;
}

.message-box{
    margin-top: 1.5rem;
}

#message{
    display: inline;
    font-size: 1.5rem;
    background-color: rgb(25, 25, 50);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}